{{ partial "head.html" . }}

<body {{ if isset .Params "id" }}id='{{ index .Params "id" }}'{{end}} class="list-default">

{{ partial "header.html" . }}

<section id="banner">
    <div class="container">

        <div class="row">
            <div class="col text-center">

                <h2>{{ .Title | safeHTML }}</h2>
                <p>{{ .Description | safeHTML }}</p>

            </div>
        </div>

    </div>
</section>

<main>

    <div class="container">

        <div class="row">
            <div class="col">
                {{ .Content }}
            </div>
        </div>

        <div class="row">

            {{ range (.Paginator 1).Pages }}

                {{ partial "news-entry.html" . }}

            {{ end }}

        </div>

        <div class="row">
            {{ partial "pagination.html" .}}
        </div>
    </div>

</main>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>