{{ partial "head.html" . }}

<body {{ if isset .Params "id" }}id='{{ index .Params "id" }}'{{end}} class="single-default">

{{ partial "header.html" . }}

<section id="banner">
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">

                <h1>{{ .Title | safeHTML }}</h1>
                <p>{{ .Description | safeHTML }}</p>

            </div>
        </div>

    </div>
    {{ if .Params.youtubebg }}
    <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .Params.youtubebg }}/?autoplay=1&mute=1&controls=0&playlist={{ .Params.youtubebg }}&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{ end }}
</section>

<main>
    <div class="container">

        <div class="row">
            <div class="col">

                {{ .Content }}

            </div>
        </div>
    </div>
</main>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>