a {
  text-decoration: none;
}

section {
  position:relative;
  .container {
    z-index:9;
    position:relative;
    padding: 0 20px;
  }
}

.button {
  &:hover, &:focus {
    border-color: $blue;
    background: $blue;
    color:#fff;
  }
}

.social-share {
  list-style: none;
  margin:0 0 2rem;
  padding:0;

  li {
    display: inline-block;
    text-shadow: 0px 1px 2px rgba(0,0,0,.55);

    &.facebook {
      .button {
        background: $facebook-blue;
        border-color: $facebook-blue;
      }
    }

    &.twitter {
      .button {
        background: darken($twitter-blue, 5%);
        border-color: darken($twitter-blue, 5%);
      }
    }
  }
}

header {
  padding:1rem;
  position: relative;
  z-index: 90;
  display:flex;
  align-items: center;
  justify-content: space-between;

  #headerLogo {
    display:inline-block;
    width:170px;
    padding:0 5px;
    margin:0 1rem 0 0;

    @media(max-width:575px){
      width:125px;
    }

    img {
      width:100%;
      height:auto;
    }
  }

  nav {
    position:relative;
    margin:1rem 0;
    display:inline-block;
    font-weight: 700;

    #toggle-menu {
      display:none;
      font-size:1.25em;
      padding:0 10px;
      color:#666;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      height:4rem;
      line-height:4rem;

      &:hover, &:focus {
        background: $btn-color;
        color:#fff;
        text-decoration: none;
      }


      @media(max-width:767px){
        display:inline-block;
      }

    }

    ul {
      list-style:none;
      padding:0;
      margin:0;

      @media(max-width:767px){
        display:none;
        position:absolute;
        background:#f3f3f3;
        width:200px;
        z-index: 99;
        right:0;
      }

      li {
        display:inline-block;
        margin:5px;

        @media(max-width:767px){
          width:100%;
          margin:0;
          padding:0;
        }

        &.social {
          font-size:1.65em;
          vertical-align: middle;
          margin:2px;
          font-weight:normal;

          @media(max-width:767px){
            width:auto;
            margin:0;
          }

        }

        a {
          padding:5px;
          color: #333;

          &:hover, &:focus {
            text-decoration: underline;
          }

          @media(max-width:767px){
            display:block;
            padding:10px;

            &:hover, &:focus {
              background: darken(#f3f3f3,10%);
            }

          }

        }
      }
    }

    .button {
      background: $blue;
      border-color: $blue;
      @media(max-width:767px){
        padding:0;
        border-radius:0;
        width:100%;
      }
    }
  }
}

#banner {
  background:$default;
  color:#fff;
  font-size:20px;

  @media(max-width: 767px){
    font-size:15px;
  }

  h1,h2 {
    font-size:4.20em;

    @media(max-width:767px){
      font-size:3.25em;
    }
  }

  p {
    font-size:1.25em;

    a {
      font-weight:bold;
      color:#fff;
      
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
  }
  .video-wrapper iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .bg-image {
    @extend .video-wrapper
   }


}

form {
  .col {
    input, textarea, select {
      border-color:#fff;

      &:hover, &:focus {
        border-color:$blue;
      }
    }

    .button {
      margin-top: 0 !important;
    }
  }

}

#clients {
  padding: 42px 0 32px;

  .container-fluid {
    padding:0;
  }

  .client-logos {
    padding-top: 0.5rem;

    .item {
      /* Change the Logo Height to Adjust Size */
      height: 150px;
      align-items: center;
      padding: 8px 3.5rem 0;
      .logoBx {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: relative;
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
          filter: grayscale(1);
        }
      }
    }
  }
}

#signup {
  padding:2rem 0;
  background:darken($default,5%);

  h2 a {
    color: #fff;
  }
}


#formSection {
  background:#333;

  .container {
    max-width:1000px;
  }

  .checkbox {
    color:#fff;

    input[type=checkbox]:checked+label:before {
      color: $blue;
    }
  }

  .button {
    background: $blue;
    border-color: $blue;
  }
}

footer {
  padding:3rem 0 10rem;
  background: #000;
  color:#fff;

  #footerSocial {
    list-style:none;
    padding:0;
    margin:0;

    li {
      display:inline-block;
      margin:5px;

      &.social {
        font-size:1.65em;
        vertical-align: middle;
        margin:2px;
      }

      a {
        padding:5px;
        color: #fff;
      }
    }

  }
}

.mfp-bg {
  background: $default;
}

//* {
//  transition: filter .25s;
//}
//.mfp-wrap ~ * {
//  filter: blur(10px);
//}

#inquire {
  background:#fff;
  padding:5%;

  .button {
    margin-top:1rem;
  }
}

#home {

  #banner {
    @media(max-width:767px){
      padding:32px 0 300px
    }

    h2 {
      position: relative;
      display: inline-block;
      span {
        font-size:.25em !important;
        position: absolute;
        right:-2.15em;
        top:-20px;
      }
    }

    &:before {
      content:'';
      width:100%;
      height:100%;
      display:block;
      position:absolute;
      top:0; 
      left:0;
      background: linear-gradient(90deg, #000 20%, rgba(0, 0, 0, 0) 70%);
      z-index: 9;
    }
  
    @media(max-width:767px){  
      &:before{
        background: linear-gradient(180deg, #000 30%, rgba(0, 0, 0, .2) 100%);
      }
    }
  
  }

  #section-1 {
    color:#333;
    background: #f3f3f3;

    @media(max-width:767px){
      padding-top:0;
    }
    .bg-image {
      width:56%;
      height:100%;
      top:0;
      left:0;
    
      &:before {
        content:'';
        width:100%;
        height:100%;
        display:block;
        position:absolute;
        top:0; 
        left:0;
        background: linear-gradient(270deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 40%);
        z-index: 9;
      }
    
      @media(max-width:767px){
        height:350px;
        width:100%;
    
        &:before{
          background: linear-gradient(360deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 35%);
        }
      }
    }
  }

  #section-2 {
    color:#333;
    background: #f3f3f3;

    @media(max-width:575px){
      padding-top:0;
    }

    video {
      object-fit: cover;
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
      overflow: hidden;
    }
    .video-wrapper iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bg-image {
      width:60%;
      height:100%;
      top:0;
      left:50%;
      position:absolute;
    
      &:before {
        background: none;
      }
    
      @media(max-width:575px){
        height:350px;
        width:100%;
        position:relative;
        left:0;
        margin-bottom:20px;
    
        &:before{
          background: none;;
        }
      }
    }
  }

  #latest-news {
    background: #000;
    padding: 80px 0;

    h2 {
      color: #fff;
    }
    .entry {
      background:#fff;
      padding:0;
      box-shadow: 0px 2px 10px rgba(0,0,0,.15);
      border-radius: 6px;
      overflow: hidden;

      .content {
        padding:40px;

        h3 {
          a {
            color: #000;

            &:hover, &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .standard-home {
    padding:20px 0;
    img {
      @media(max-width:575px){
        margin-bottom:20px;
      }
    }
  }
}

.list-default {
  #banner {
    padding-bottom:0;
  }

  main {
    background: #333;
    padding-bottom:5rem;
    color: #fff;

    .entry {
      background:#fff;
      color: #333;
      padding:0;
      margin: 1rem 0;
      box-shadow: 0px 2px 10px rgba(0,0,0,.15);

      .content {
        padding:40px;
      }
    }
  }
}

.single-default {

  #banner {
    &:before {
      content:'';
      width:100%;
      height:100%;
      display:block;
      position:absolute;
      top:0; 
      left:0;
      background: linear-gradient(360deg, #000 20%, rgba(0, 0, 0, .2) 90%);
      z-index: 9;
    }
  
    @media(max-width:767px){  
      &:before{
        background: linear-gradient(360deg, #000 30%, rgba(0, 0, 0, .2) 100%);
      }
    }

    .container {
      max-width:900px;
    }
  
  }

  main {
    .container {
      max-width:900px;

      p {
        margin: 8px 0;
      }

      h5 {
        font-weight:400;
      }

      img, figure {
        margin-top:.5rem;
      }

      .img-fluid {
        width:100%;
        height:auto;
        img {
        @extend .img-fluid;
        }
      }

      blockquote {
        padding-left: 30px;
        margin-top:1rem;
        margin-bottom:1rem;
        position: relative;

        &:before {
          content:'';
          width:5px;
          height:100%;
          background: $blue;
          display:block;
          position:absolute;
          left:0;
          top:0;
        }
      }
    }
  }
}