a {
  text-decoration: none;
}

section {
  position:relative;
  .container {
    z-index:5;
    position:relative;
  }
}

.button {
  &:hover, &:focus {
    border-color: $blue;
    background: $blue;
    color:#fff;
  }
}

.social-share {
  list-style: none;
  margin:0 0 2rem;
  padding:0;

  li {
    display: inline-block;
    text-shadow: 0px 1px 2px rgba(0,0,0,.55);

    &.facebook {
      .button {
        background: $facebook-blue;
        border-color: $facebook-blue;
      }
    }

    &.twitter {
      .button {
        background: darken($twitter-blue, 5%);
        border-color: darken($twitter-blue, 5%);
      }
    }
  }
}

header {
  padding:1rem;
  position: relative;
  z-index: 90;
  display:flex;
  align-items: center;
  justify-content: space-between;

  #headerLogo {
    display:inline-block;
    width:170px;
    padding:0 5px;
    margin:0 1rem 0 0;

    @media(max-width:575px){
      width:125px;
    }

    img {
      width:100%;
      height:auto;
    }
  }

  nav {
    position:relative;
    margin:1rem 0;
    display:inline-block;

    #toggle-menu {
      display:none;
      font-size:1.25em;
      padding:0 10px;
      color:#666;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      height:4rem;
      line-height:4rem;

      &:hover, &:focus {
        background: $btn-color;
        color:#fff;
        text-decoration: none;
      }


      @media(max-width:767px){
        display:inline-block;
      }

    }

    ul {
      list-style:none;
      padding:0;
      margin:0;

      @media(max-width:767px){
        display:none;
        position:absolute;
        background:#f3f3f3;
        width:200px;
        z-index: 99;
        right:0;
      }

      li {
        display:inline-block;
        margin:5px;

        @media(max-width:767px){
          width:100%;
          margin:0;
          padding:0;
        }

        &.social {
          font-size:1.65em;
          vertical-align: middle;
          margin:2px;

          @media(max-width:767px){
            width:auto;
            margin:0;
          }

        }

        a {
          padding:5px;
          color: #333;

          &:hover, &:focus {
            text-decoration: underline;
          }

          @media(max-width:767px){
            display:block;
            padding:10px;

            &:hover, &:focus {
              background: darken(#f3f3f3,10%);
            }

          }

        }
      }
    }

    .button {
      background: $blue;
      border-color: $blue;
      @media(max-width:767px){
        padding:0;
        border-radius:0;
        width:100%;
      }
    }
  }
}

#banner {
  background:$default;
  color:#fff;
  font-size:20px;

  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
 }
 .video-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

  .container {
    z-index: 9;
    position: relative;
  }

  @media(max-width: 767px){
    font-size:15px;
  }

  h1,h2 {
    font-size:4.20em;

    @media(max-width:767px){
      font-size:3.25em;
    }
  }

  p {
    font-size:1.25em;
  }


}

form {
  .col {
    input, textarea, select {
      border-color:#fff;

      &:hover, &:focus {
        border-color:$blue;
      }
    }

    .button {
      margin-top: 0 !important;
    }
  }

}

#clientLogos {
  padding: 24px 0;
  .container-fluid {
    padding:0;
  }
  .logos {
    padding-top: .5rem;
  
    .item {
      height: 150px;
      align-items: center;
      padding:8px 32px 0 32px;
      img {
        max-height: 100%;
        max-width: 205px;
        width: 100%;
      }
    }
  }
}

#signup {
  padding:2rem 0;
  background:darken($default,5%);
}


#formSection {
  background:#333;

  .container {
    max-width:1000px;
  }

  .checkbox {
    color:#fff;

    input[type=checkbox]:checked+label:before {
      color: $blue;
    }
  }

  .button {
    background: $blue;
    border-color: $blue;
  }
}

footer {
  padding:3rem 0 10rem;

  #footerSocial {
    list-style:none;
    padding:0;
    margin:0;

    li {
      display:inline-block;
      margin:5px;

      &.social {
        font-size:1.65em;
        vertical-align: middle;
        margin:2px;
      }

      a {
        padding:5px;
      }
    }

  }
}

.mfp-bg {
  background: $default;
}

//* {
//  transition: filter .25s;
//}
//.mfp-wrap ~ * {
//  filter: blur(10px);
//}

#inquire {
  background:#fff;
  padding:5%;

  .button {
    margin-top:1rem;
  }
}

#home {

  #banner {
    &:before {
      content:'';
      width:100%;
      height:100%;
      display:block;
      position:absolute;
      top:0; 
      left:0;
      background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 60%);
      z-index: 9;
    }
  
    @media(max-width:767px){
      width:100%;
      height:350px;
      position:relative;
  
      &:before{
        background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 35%);
      }
    }
  
  }

  #section-1 {
    color:#fff;
    background: #000;

    @media(max-width:767px){
      padding-top:0;
    }
    .bg-image {
      width:60%;
      height:100%;
      top:0;
      left:0;
    
      &:before {
        background: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, 0) 40%);
      }
    
      @media(max-width:767px){
        height:350px;
        width:100%;
    
        &:before{
          background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 15%);
        }
      }
    }
  }

  #section-2 {
    color:#333;
    background: #f3f3f3;

    @media(max-width:575px){
      padding-top:0;
    }

    .bg-image {
      width:60%;
      height:100%;
      top:0;
      left:50%;
      position:absolute;
    
      &:before {
        background: none;
      }
    
      @media(max-width:575px){
        height:350px;
        width:100%;
        position:relative;
        left:0;
        margin-bottom:20px;
    
        &:before{
          background: none;;
        }
      }
    }
  }

  #latest-news {
    background: #000;

    h2 {
      color: #fff;
    }
    .entry {
      background:#fff;
      padding:0;
      box-shadow: 0px 2px 10px rgba(0,0,0,.15);

      .content {
        padding:40px;
      }
    }
  }

  .standard-home {
    padding:20px 0;
    img {
      @media(max-width:575px){
        margin-bottom:20px;
      }
    }
  }
}

.list-default {
  #banner {
    padding-bottom:0;
  }

  main {
    background: #333;
    padding-bottom:5rem;
    color: #fff;

    .entry {
      background:#fff;
      color: #333;
      padding:0;
      margin: 1rem 0;
      box-shadow: 0px 2px 10px rgba(0,0,0,.15);

      .content {
        padding:40px;
      }
    }
  }
}

.single-default {
  main {
    .container {
      max-width:900px;

      p {
        margin: 8px 0;
      }

      blockquote {
        padding-left: 30px;
        margin-top:1rem;
        margin-bottom:1rem;
        position: relative;

        &:before {
          content:'';
          width:5px;
          height:100%;
          background: $blue;
          display:block;
          position:absolute;
          left:0;
          top:0;
        }
      }
    }
  }
}