.button {
  &:hover, &:focus {
    border-color: $blue;
    background: $blue;
    color:#fff;
  }
}

header {
  padding:20px 15px;
  position: relative;
  z-index: 999;
  display:flex;
  align-items: center;
  justify-content: space-between;

  #headerLogo {
    display:inline-block;
    width:170px;
    padding:0 5px;
    margin:0 20px 0 0;

    img {
      width:100%;
      height:auto;
    }
  }

  nav {
    position:relative;
    margin:20px 0;
    display:inline-block;

    #toggle-menu {
      display:none;
      font-size:1.25em;
      padding:0 10px;
      color:#666;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      height:4rem;
      line-height:4rem;

      &:hover, &:focus {
        background: $btn-color;
        color:#fff;
        text-decoration: none;
        -webkit-border-radius: $button-radius;
        -moz-border-radius: $button-radius;
        border-radius: $button-radius;
      }


      @media(max-width:767px){
        display:inline-block;
      }

    }

    ul {
      list-style:none;
      padding:0;
      margin:0;

      @media(max-width:767px){
        display:none;
        position:absolute;
        background:#f3f3f3;
        width:200px;
        z-index: 99;
        right:0;
      }

      li {
        display:inline-block;
        margin:5px;

        @media(max-width:767px){
          width:100%;
          margin:0;
          padding:5px;
        }

        &.social {
          font-size:1.65em;
          vertical-align: middle;
          margin:2px;

          @media(max-width:767px){
            width:auto;
          }

        }

        a {
          padding:5px;

          &.button {
            @media(max-width:767px){
              padding:0;
              border-radius:0;
              width:100%;
            }
          }

        }
      }
    }
  }
}

#banner {
  background:#000;
  color:#fff;
  font-size:20px;

  @media(max-width: 767px){
    font-size:15px;
  }

  h1,h2 {
    font-size:4.20em;

    @media(max-width:767px){
      font-size:3.25em;
    }
  }

  p {
    font-size:1.25em;
  }

}

form {
  .col {
    input, textarea, select {
      border-color:#fff;

      &:hover, &:focus {
        border-color:$blue;
      }
    }

    .button {
      margin-top: 0 !important;
      background: $teal;
      border-color: $teal;
      color:#000;
    }
  }

}

#signup {
  padding:2em 0;
  background:darken($default,5%);
}

main {
  padding: 2em 0;
}

#form {
  background:#f3f3f3;
}

footer {
  padding:3em 0 10em;

  #footerSocial {
    list-style:none;
    padding:0;
    margin:0;

    li {
      display:inline-block;
      margin:5px;

      &.social {
        font-size:1.65em;
        vertical-align: middle;
        margin:2px;
      }

      a {
        padding:5px;
      }
    }

  }
}

.mfp-bg {
  background: $default;
}

//* {
//  transition: filter .25s;
//}
//.mfp-wrap ~ * {
//  filter: blur(10px);
//}

#inquire {
  background:#fff;
  padding:5%;

  .button {
    margin-top:1em;
  }
}