/* Default Variables */
$header-font:proxima-nova, sans-serif;
$body-font: proxima-nova, sans-serif;
$button-font: proxima-nova, sans-serif;
$base-fontsize: 16px;

/* Form and Button Styling */
$button-radius: 0;
$form-radius: 0;
$line-height-desktop: 60px;
$line-height-mobile: 40px;

$input-padding-top: 7px;
$input-padding-right: 7px;
$input-padding-bottom: 7px;
$input-padding-left: 7px;

$max-width: 1200px;
$body-background: #fff;

$transition: .25s;

/* Colors */
$default: #212121;
$light-grey: #555;
$btn-color: $default;
$facebook-blue: #3b5998;
$twitter-blue: #1DA1F2;

$gold: #A6885C;