/* Default Variables */
$header-font:sans-serif;
$body-font: sans-serif;
$button-font: sans-serif;

/* Form and Button Styling */
$button-radius: 10px;
$form-radius: 10px;
$line-height-desktop: 60px;
$line-height-mobile: 50px;

$base-fontsize: 15px;

$max-width: 1200px;
$body-background: #fff;

$transition: .25s;

/* Colors */
$default: #333;
$light-grey: #555;
$btn-color: $default;
$facebook-blue: #3b5998;
$twitter-blue: #00ACEE;