<footer role="contentinfo">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <ul class="social-share">
                    {{ partial "social-share.html" . }}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <ul id="footerSocial">
                    {{ partial "social.html" . }}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <p id="copyright" class="small">&copy; Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script>&nbsp;{{ .Site.Title }} - All Rights Reserved - <a href="/policies/privacy">Privacy Policy</a> | <a href="/policies/terms">Terms and Conditions</a></p>
            </div>
            <div class="col-12 text-center">
                <p>Made with <i class="fas fa-heart"></i> By <a href="https://kristopherray.com/" target="_blank">Kristopher Ray Creative</a></p>
            </div>
        </div>

        {{ if isset .Site.Params "paid_for" }}
        <div class="row">
            <div class="col text-center">
                <p id="paidfor">

                    {{ .Site.Params.paid_for }}

                </p>
            </div>
        </div>
        {{ else }}
        {{ end }}


    </div>
</footer>