<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta property="og:type" content="website"/>

    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}"/>
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}"/>
    <meta property="og:site_name" content="{{ .Title }} | {{ .Site.Title }}"/>

    <meta name="description" content="{{ .Description }}"/>
    <meta property="og:description" content="{{ .Description }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>

    <meta property="og:url" content="{{ .Permalink }}"/>
    <meta name="twitter:url" content="{{ .Permalink }}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {{ if .Params.og_img }}
    <meta property="og:image" content='{{ .Site.BaseURL }}/{{ .Param "og_img" }}'/>
    <meta property="twitter:image" content='{{ .Site.BaseURL }}/{{ .Param "og_img" }}'/>
    {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/og-img.png"/>
    <meta property="twitter:image" content="{{ .Site.BaseURL }}/img/og-img.png"/>
    {{ end }}
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="628"/>
    <meta name="twitter:card" content="summary_large_image"/>

    {{ if isset .Site.Params "twitter_user" }}
    <meta name="twitter:site" content="@{{ .Site.Params.twitter_user }}" />
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter_user }}" />
    {{ end }}

    <script id="defer-js" src="https://cdn.jsdelivr.net/npm/@shinsenter/defer.js@2.5.0/dist/defer_plus.min.js"></script>

    <script type="text/javascript">
        // This will lzay-load FontAwesome icons
        deferstyle('//use.fontawesome.com/releases/v5.8.2/css/all.css', 'fontawesome-css', 300);
    </script>

    <script type="text/javascript">
        // This will lzay-load FontAwesome icons
        deferstyle('//use.typekit.net/fej5sdm.css', 'typekit-css', 300);
    </script>

    {{ $sass := resources.Get "css/style.scss" }}
    {{ $style := $sass | resources.ToCSS | minify }}

    <link   rel="stylesheet"
            href="{{ $style.Permalink }}"
            media="screen">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>