<div id="preloader"></div>

<header>

    <a href='{{ "/" | relURL }}' id="headerLogo"><img src='{{ "img/logo.svg" | relURL }}' alt="{{ .Site.Title }} Logo"></a>

    <nav>
        <a href="javascript:void(0)" id="toggle-menu"><i class="fa fa-bars"></i>&nbsp; Menu</a>
        <ul>
            {{ partial "menu.html" . }}
            {{ partial "social.html" . }}
            <li>
                <a href="#form" class="button">Button &rsaquo;</a>
            </li>
        </ul>
    </nav>

</header>