<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<header class="animated fadeInDown">

    <a href='{{ "/" | relURL }}' id="headerLogo"><img src='{{ "img/logo.svg" | relURL }}' alt="{{ .Site.Title }} Logo"></a>

    <nav>
        <a href="javascript:void(0)" id="toggle-menu"><i class="fa fa-bars"></i>&nbsp; Menu</a>
        <ul>
            {{ partial "menu.html" . }}
        </ul>
    </nav>

    <ul id="nav2">
        {{ partial "social.html" . }}
        <li>
            <a href="#" class="button">Button &rsaquo;</a>
        </li>
    </ul>

</header>