<div class="entry col-12 mb-3">
    <div class="d-flex justify-content-center align-items-center">
        {{ if .Params.image }}
            <div class="col col-sm-4">
                {{ if .Params.outbound }}
                <a href="{{ .Params.outbound }}" target="_blank"><img src='{{ .Param "image"}}' class="img-fluid lazy" alt="{{ .Title | safeHTML }}"></a>
                {{else}}
                <a href="{{ .Permalink }}"><img src='{{ .Param "image"}}' class="img-fluid lazy" alt="{{ .Title | safeHTML }}"></a>
                {{end}}
            </div>
        {{end}}
        <div class="content col col-sm-8">


            {{ if .Params.categories }}
            <h2 class="post-categories">
                {{ range $idx, $category := .Params.categories }}
                {{- if ne $idx 0 }} | {{ end }}<a href='{{ "/categories/" | relURL }}{{ $category | urlize }}'>{{ $category }}</a>
                {{- end }}
            </h2>
            {{end}}

            <h3>
                {{ if .Params.outbound }}
                <a href="{{ .Params.outbound }}" target="_blank">{{ .Title | safeHTML }}</a>
                {{else}}
                <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>
                {{end}}
            </h3>
            
            
                
            {{ if .Params.Date }}
            <span class="date">{{ .Date.Format "01.02.2006" }} </span> 
            {{end}}
           

            <p>{{ .Description }}</p>
            {{ if .Params.outbound }}
                <a href="{{ .Params.outbound }}" target="_blank" class="button buttonOutline">Read More &rsaquo;</a>
                {{else}}
                <a href="{{ .Permalink }}" class="button buttonOutline">Read More &rsaquo;</a>
            {{end}}
        </div>
    </div>
</div>