{{ $myVar := .Params.sections }}
{{ $mgatag := index site.Taxonomies.section_categories }}
{{ range $k, $v := $mgatag }}
    {{ if eq $k $myVar }}
        {{ range $v.Pages }}
            <section id="{{ .Params.id }}">

                {{ if .Params.image }}
                <div class="bg-image">
                    <img data-src='{{ .Params.image }}' class="lazyload img-fluid" alt="{{ .Site.Title }} - {{ .Title }} Image">
                </div>
                {{end}}

                {{ if .Params.vimeobg }}
                <div class="video-wrapper bg-image"><iframe src="https://player.vimeo.com/video/{{.Params.vimeobg}}?background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                {{end}}

                <div class="container">
                    <div class="row {{ .Params.position }} ">
                        {{if .Params.section_image}}
                        <div class="col sectionImgCol aos-item" data-aos="fade">
                            <img data-src="{{.Params.section_image}}"/>
                        </div>
                        {{end}}
                        <div class="col col-12 sectionColTxt {{ .Params.size }} aos-item" data-aos="fade-in">
                        {{ .Content }}
                        </div>
                    </div>
                </div>

            </section>
        {{ end }}
    {{ end }}
{{ end }}