<script type="deferjs" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{{ $js := resources.Get "js/plugins.js" }}
{{ $secureJS := $js | resources.Minify }}
<script type="deferjs" src="{{ $secureJS.Permalink }}"></script>

<script>deferimg('img[data-src],picture,video,audio')</script>

<!--<script type="text/javascript">-->
<!--    // This will defer showing an alert message after 2 seconds-->
<!--    defer(function() {-->
<!--        $(window).load(function() { // makes sure the whole site is loaded-->
<!--            $("#status").fadeOut(); // will first fade out the loading animation-->
<!--            $("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.-->
<!--        });-->
<!--    }, 2000);-->
<!--</script>-->