{{ partial "head.html" . }}

<body id="home">

{{ partial "header.html" . }}

<section id="banner">

<div class="container">

    <div class="row">

        <div class="col text-center animated fadeInScale delay-2">

            <h1>{{ .Title }}</h1>

            <p>{{ .Description }}</p>

            <a href="#inquire" class="button buttonOutlineWhite open-popup-link">Lightbox &rsaquo;</a>

        </div>

    </div>

</div>
    <video playsinline autoplay muted loop poster='{{"video/bg.jpg" | relURL }}' data-src='{{"video/bg-small.mp4" | relURL }}' id="bgvid" class="lazy">
        <source data-src='{{"video/bg-small.webm" | relURL }}' type="video/webm">
        <source data-src='{{"video/bg-small.mp4" | relURL }}' type="video/mp4">
    </video>
</section>

<section id="signup">
    <div class="container">

        {{ partial "signup.html" .}}

    </div>
</section>


<main>

    {{ range where (.Site.RegularPages.ByParam "date") "Type" "home_sections" }}
        <section id="{{ .Params.id }}">

            {{ if .Params.image }}
            <div class="bg-image aos-item" data-aos="fade-in">
                <img src='{{ .Params.image }}' class="lazyload img-fluid" alt="{{ .Site.Title }} - {{ .Title }} Image">
            </div>
            {{end}}

            <div class="container">
                <div class="row {{ .Params.position }}">
                    <div class="col-12 {{ .Params.size }}">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </section>
    {{end}}

    <section id="news">
        <div class="container">
            <div class="row">
                {{ range first 1 (where (.Site.RegularPages.ByParam "date") "Type" "news") }}
                <div class="entry col-12 aos-item" data-aos="fade-in">
                    <div class="d-flex justify-content-center align-items-center">
                        {{ if .Params.image }}
                            <div class="col col-sm-4"><a href="{{ .Permalink }}"><img src='{{ .Param "image"}}' class="img-fluid lazyload" alt="{{ .Title }}"></a></div>
                        {{end}}
                        <div class="content col col-sm-8">
                            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                            <span>{{ .Date.Format "January 2, 2006" }}</span>
                            <p>{{ .Description }}</p>
                            <a href="{{ .Permalink }}" class="button buttonOutline">Read More</a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </section>

</main>

<section id="form">
    <div class="container">

        {{ partial "form.html" .}}

    </div>
</section>

<div id="inquire" class="mfp-hide">

    <div class="container">

        <div class="row">
            <div class="col text-center">
                {{ .Content }}
            </div>
        </div>
    </div>

</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

</body>
</html>