{{ partial "head.html" . }}

<body id="home">

{{ partial "header.html" . }}

<section id="banner">

<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-6 animated fadeIn delay-1">

            <h1>{{ .Title }}</h1>

            <p>{{ .Content }}</p>

            <a href="#inquire" class="button open-popup-link">Lightbox &rsaquo;</a>

        </div>

    </div>

</div>

</section>

<section>
    <div class="container">
        <div class="row flex-center">

            <div class="col-xs-12 col-sm-6 aos-item">
                <img data-src="https://picsum.photos/600" class="lazyload img-responsive" alt="Make sure to use IMG ALT Tag">
            </div>

            <div class="col-xs-12 col-sm-6 aos-item" data-aos="fade-in">

                <div id="counter">10003</div>

                <h2>Another Cool Section Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita laborum natus pariatur veniam vitae. Delectus dicta dolor, doloremque, est facilis inventore laboriosam nostrum officiis praesentium qui recusandae, sunt suscipit tempora.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita laborum natus pariatur veniam vitae. Delectus dicta dolor, doloremque, est facilis inventore laboriosam nostrum officiis praesentium qui recusandae, sunt suscipit tempora.</p>

                <a href="#inquire" class="open-popup-link">Lightbox &rsaquo;</a>
            </div>
        </div>
    </div>
</section>

<section id="form">
    <div class="container">
        <div class="row">

            {{ partial "form.html" }}

        </div>
    </div>
</section>

<div id="exit">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h2>Are you trying to exit?</h2>
                <p>Please fill out the form below and we'll be in touch as soon as possible!</p>
                <a href="#" class="button">Button &rsaquo;</a>
            </div>
        </div>
    </div>

</div>
<div id="inquire">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h2>Inquire Now</h2>
                <p>Please don't leave yet, fill out the form below...</p>
                <a href="#" class="button">Button &rsaquo;</a>
            </div>
        </div>
    </div>

</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

<!--<script>-->

<!--    // Random Counting Up Ticker &#45;&#45; Just Add an Element with an ID-->

<!--    function numberWithCommas(x) {-->
<!--        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");-->
<!--    }-->

<!--    function randRange() {-->
<!--        var timeArray = new Array(5,1,200, 500, 10, 400, 5, 1, 2, 250);-->
<!--        var newDelay = timeArray[Math.floor(timeArray.length * Math.random())];-->
<!--        console.log("New Delay: " + newDelay)-->
<!--        // The delays are too small, so multipling x10 or something.-->
<!--        return newDelay * 10;-->
<!--    }-->
<!--    var target;-->
<!--    var counter;-->
<!--    $(document).ready( function() {-->
<!--        //var delay = toggleSomething();-->
<!--        target = $('#counter');-->
<!--        counter = parseInt( target.text(), 10 );-->
<!--        console.log("Starting counter at: " + counter)-->
<!--        randomTick();-->
<!--    } );-->
<!--    function randomTick() {-->
<!--        setTimeout(() => {-->
<!--            target.text(numberWithCommas(counter++));-->
<!--            randomTick();  // set up the next tick-->
<!--        }, randRange());-->
<!--    }-->

<!--</script>-->

</body>
</html>