<form accept-charset="UTF-8" action="#" method="POST">

    <input type="hidden" name="utf8" value="Form Source">

    <div class="col-xs-12 col-sm-6 labelToggle">
        <label for="name" class="nameLabel">Your Name*</label>
        <input type="text" id="name" class="formField" name="name" placeholder="ex. John Doe" required>
    </div>

    <div class="col-xs-12 col-sm-6 labelToggle">
        <label for="email" id="emailLabel">Email Address*</label>
        <input type="email" id="email" name="email" placeholder="ex. yourname@email.com" required class="formField labelToggle">
    </div>

    <div class="col-xs-12 col-sm-6 labelToggle">
        <label for="phone" id="phoneLabel">Phone Number*</label>
        <input type="tel" id="phone" name="phone" placeholder="(123) 456-7890" required class="formField labelToggle">
    </div>

    <div class="col-xs-12 col-sm-6 labelToggle">
        <label for="zip" id="zipLabel">Zip Code*</label>
        <input type="text" id="zip" name="zipcode" placeholder="12345" required class="formField labelToggle">
    </div>

    <div class="col-xs-12">
        <button type="submit" class="button">Submit</button>
    </div>
</form>